---
import Container from "../reutilizables/Container.astro";
import BotonAcademia from "./BotonAcademia.astro";
import TituloAcademia from "./TituloAcademia.astro";
import img from "@/assets/img_academia/hero_movil.avif";

interface Props {
  id: string;
  titulo1: string;
  titulo2: string;
  titulo3?: string;
  descripcion?: string;
  contenido_before?: string;
}

const { id, titulo1, titulo2, titulo3, descripcion, contenido_before } =
  Astro.props;
---

<section
  id={id}
  class="pt-10 w-full relative before:absolute before:top-0 before:right-0 before:w-full before:h-[clamp(150px,20vw,300px)] before:opacity-[0.04] before:z-[-1] before:text-[#190f59] before:text-[clamp(100px,13vw,300px)] before:font-light before:tracking-tighter before:text-right before:flex before:items-center before:justify-end overflow-hidden"
  style={`--contenido-before: \"${contenido_before}\";`}
>
  <Container classname="relative top-0 py-12 lg:py-14 ">
    <div
      class="w-full flex flex-col-reverse lg:flex-row gap-4 justify-between items-center"
    >
      <div
        class="w-full lg:w-2/3 h-full flex flex-col justify-start items-center"
      >
        <h2
          class=`w-full flex flex-col items-start justify-center leading-tight  text-academia-negro`
        >
          <p
            class="font-extralight text-[clamp(26px,4.2vw,70px)]"
            data-aos="fade-right"
            data-aos-duration="800"
            data-aos-once="true"
          >
            {titulo1}
          </p>
          <p
            class="relative font-bold text-[clamp(26px,4.2vw,70px)] before:absolute before:w-[calc(100%+3%)] before:h-[80%] before:inset-0 before:top-3 before:-left-1 md:before:top-5 md:before:-left-2 lg:before:top-6 lg:before:-left-3 xl:before:top-9 before:bg-[#dcef10ff] before:z-[-1] before:skew-x-[30deg]"
            data-aos="fade-right"
            data-aos-duration="800"
            data-aos-delay="200"
            data-aos-once="true"
          >
            {titulo2}
          </p>
          <!-- <p
            class="relative font-bold text-[clamp(30px,7vw,80px)] before:absolute before:w-[calc(100%+3%)] before:h-[80%] before:inset-0 before:top-3 before:-left-1 md:before:top-5 md:before:-left-2 lg:before:top-6 lg:before:-left-3 xl:before:top-9 before:bg-[#dcef10ff] before:z-[-1] before:skew-x-[30deg]"
            data-aos="fade-right"
            data-aos-duration="800"
            data-aos-delay="300"
            data-aos-once="true"
          >
            {titulo3}
          </p> -->
        </h2>
        <!-- <TituloAcademia titulo1={titulo1} titulo2={titulo2} titulo3={titulo3} /> -->
        <div class={`${descripcion ? "grid w-full pt-4 " : "hidden"}`}>
          <span
            class="text-left text-[clamp(1rem,2.2vw,1.3rem)] text-academia-negro text-pretty w-full lg:w-[80%] mt-4"
            data-aos="fade-right"
            data-aos-duration="800"
            data-aos-delay="400"
            data-aos-once="true"
            >{descripcion}
          </span>
        </div>
        <div class="flex justify-center items-center w-full mt-8">
          <a
            href=`/academia`
            class="bg-academia-violeta1 px-8 py-2 text-gray-50 font-normal text-3xl shadow-academia-boton hover:translate-x-[5px] hover:translate-y-[5px] hover:shadow-none transition-all duration-300 ease-in"
            >¿Empezamos?</a
          >
        </div>
      </div>
      <div class="w-full lg:w-1/3 flex justify-center items-center">
        <img
          src={img.src}
          alt="imagen de presentacion"
          class="w-full object-cover max-h-[400px]"
        />
      </div>
    </div>
  </Container>
</section>

<style>
  @media (min-width: 768px) {
    section[id]::before {
      content: var(--contenido-before);
    }
  }
</style>
