---
import Container from "../reutilizables/Container.astro";
import TituloAcademia from "./TituloAcademia.astro";

interface Props {
  id: string;
  titulo1: string;
  titulo2: string;
  titulo3?: string;
  descripcion?: string;
  contenido_before: string;
}

const { id, titulo1, titulo2, titulo3, descripcion, contenido_before } =
  Astro.props;
---

<section
  id={id}
  class="py-10 w-full relative before:absolute before:top-0 before:right-0 before:w-full before:h-[clamp(150px,20vw,300px)] before:opacity-[0.03] before:z-[-1] before:text-[#190f59] before:text-[clamp(100px,13vw,300px)] before:font-light before:tracking-tighter before:text-right before:flex before:items-center before:justify-end overflow-hidden"
  style={`--contenido-before: \"${contenido_before}\";`}
>
  <Container classname="relative top-0 md:pt-5 lg:pt-10 xl:pt-20">
    <TituloAcademia
      titulo1={titulo1}
      titulo2={titulo2}
      titulo3={titulo3}
    />
    <div class={`${descripcion ? "grid w-full pt-4 " : "hidden"}`}>
      <span
        class="text-left text-[clamp(1rem,2.2vw,1.3rem)] text-academia-negro text-pretty w-full lg:w-[80%]"
        >{descripcion}
      </span>
    </div>
    <slot />
  </Container>
</section>

<style>
  @media (min-width: 768px) {
    section[id]::before {
      content: var(--contenido-before);
    }
  }
</style>
