---
import SeccionCompleta from "../SeccionCompleta.astro";
import CardEquipo from "../CardEquipo.astro";

interface Props {
  data?: { titulo: string; descripcion: string; img: string }[];
  id: string;
  titulo1: string;
  titulo2: string;
  contenido_before: string;
  descripcion?: string; // Define any props if needed
}
const { data, id, titulo1, titulo2, contenido_before, descripcion } =
  Astro.props;
---

<SeccionCompleta
  id={id}
  titulo1={titulo1}
  titulo2={titulo2}
  contenido_before={contenido_before}
  descripcion={descripcion}
>
  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-6 items-center mt-8 mb-12 w-full place-items-center"
  >
    {
      data.map((item, index) => (
        <CardEquipo
          titulo={item.titulo}
          descripcion={item.descripcion}
          img={item.img}
          delay={(index * 200).toString()}
        />
      ))
    }
  </div>
</SeccionCompleta>
