---
import SeccionCompleta from "../SeccionCompleta.astro";
import CardCursosEmpresas from "../CardCursosEmpresas.astro";

interface Props {
  id: string;
  titulo1: string;
  titulo2: string;
  contenido_before: string;
  descripcion: string;
  data: {
    titulo: string;
    img_curso: string;
    url_curso: string;
    descripcion: string;
    url_compra: string;
    estado?: string;
    img_empresa: string;
  }[];
}
const { id, titulo1, titulo2, contenido_before, descripcion, data } =
  Astro.props;

// Filtrar los activos
const dataActiva = data.filter((item) => item.estado !== "inactive");
---

<SeccionCompleta
  id={id}
  titulo1={titulo1}
  titulo2={titulo2}
  contenido_before={contenido_before}
  descripcion={descripcion}
>
  <div class="grid gap-6 place-items-center mt-8 mb-12 w-full">
    {
      dataActiva.map((item, index) => (
        <>
          <CardCursosEmpresas
            titulo={item.titulo}
            img={item.img_empresa}
            url_curso={item.url_curso}
            descripcion={item.descripcion}
            url_compra={item.url_compra}
          />
          {index !== dataActiva.length - 1 && (
            <span
              class="w-1/2 border border-b-academia-violeta4 mt-6 mb-2"
              data-aos="fade-up"
              data-aos-duration="400"
              data-aos-once="true"
            />
          )}
        </>
      ))
    }
  </div>
</SeccionCompleta>
