---
import CardRetos from "../CardRetos.astro";
import retos from "@/assets/img_academia/retos_academia.avif";
import cardImg from "@/assets/img_academia/hero_movil.avif";
import proximamente from "@/assets/img_academia/proximamente.avif";
import data from "../../../data/cursos.json";
import SeccionCompleta from "../SeccionCompleta.astro";
import CardCursos from "../CardCursos.astro";
---

<SeccionCompleta
  id="cursos"
  titulo1="¿Queres convertire en un"
  titulo2="Asesor de Seguros"
  titulo3="100% digital?"
  contenido_before="Cursos"
  descripcion="Transformá tu forma de comercializar seguros: dominá el mundo digital, conectá con más clientes y multiplicá tus ventas con nuestros cursos,  mentorías y asesorías diseñadas para el nuevo mercado."
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 items-center mt-8 w-full"
  >
    {
      data.map((item) => (
        <CardCursos
          estado={item.estado}
          titulo={item.titulo}
          img_curso={item.img_curso}
          url_curso={item.url_curso}
          descripcion={item.descripcion}
        />
      ))
    }
  </div>
</SeccionCompleta>
