---
import SeccionCompleta from "../SeccionCompleta.astro";
import CardSoluciones from "../CardSoluciones.astro";

interface Props {
  id: string;
  titulo1: string;
  titulo2: string;
  contenido_before: string;
  descripcion: string;
  data: {
    titulo: string;
    texto: string;
    numero: number;
  }[];
}
const { id, titulo1, titulo2, contenido_before, descripcion, data } =
  Astro.props;
---

<SeccionCompleta
  id={id}
  titulo1={titulo1}
  titulo2={titulo2}
  contenido_before={contenido_before}
  descripcion={descripcion}
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 auto-cols-auto gap-6 place-items-start mt-8 mb-12 w-full xl:w-[80%]"
  >
    {
      data.map((item, index) => (
        <CardSoluciones
          titulo={item.titulo}
          texto={item.texto}
          numero={item.numero}
          delay={(index * 200).toString()}
        />
      ))
    }
  </div>
</SeccionCompleta>
