---
import Container from "../components/reutilizables/Container.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const postsOrdered = posts.sort((a, b) => {
  return b.data.id - a.data.id;
});
const lastPost = postsOrdered[0];
postsOrdered.shift();
---

<Layout title="Blog">
  <main>
    <Container>
      <div class="flex justify-center items-end gap-4 mt-16 md:mt-8 md:mb-10">
        <img
          class="w-[150px] md:w-[300px] -rotate-[20deg]"
          src="/resources/isotipo-animado.svg"
          alt=""
        />
        <h1 class="text-6xl md:text-8xl font-thin">Blog</h1>
      </div>

      <h2
        class="font-extralight text-base md:text-xl text-center text-pretty w-full md:w-[70%] my-10"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
        laboriosam officiis ratione quidem consequatur in recusandae eveniet ad
        minus? Sequi amet provident eaque adipisci id deleniti ab modi earum
        necessitatibus.
      </h2>
      <section
        aria-label="Ultimo Post"
        class="w-full flex justify-center items-center gap-4"
      >
        <article
          class="flex flex-col md:flex-row justify-between items-center relative gap-4 w-full lg-[80%] xl:w-[70%] h-[600px] md:h-[500px] md:my-5 bg-lcsPink3 bg-opacity-10"
        >
          <div
            class="absolute top-2 -right-[4%] w-fit h-fit bg-lcsOrange3 text-white z-10 px-5 py-2 rotate-45"
          >
            <p class="text-lg md:text-xl">Ultimo Post</p>
          </div>

          <div class="w-full min-h-[230px] h-[230px] md:w-1/2 md:h-full">
            <a href={`/blog/${lastPost.slug}`}>
              <img
                class="object-cover w-full h-full border-y-[6px] border-lcsPink1"
                src={lastPost.data.img}
                alt={lastPost.data.title}
              />
            </a>
          </div>
          <div
            class="flex flex-col justify-between md:h-[90%] gap-2 md:w-1/2 px-5"
          >
            <div class="h-full flex flex-col justify-center gap-2">
              <p class="text-sm text-neutral-400">{lastPost.data.date}</p>
              <h2 class="text-4xl">{lastPost.data.title}</h2>
              <p class="text-sm md:text-lg font-light">
                {lastPost.data.description}
              </p>
              <p class="text-sm text-neutral-400">
                Autor: {lastPost.data.author}
              </p>
              <div class="flex gap-2">
                {
                  lastPost.data.tags.map((tag) => (
                    <span class="text-sm bg-lcsPink1 text-white px-2 py-1 rounded-full">
                      {tag}
                    </span>
                  ))
                }
              </div>
            </div>

            <div class="hidden md:flex w-full justify-end items-center pb-5">
              <a
                href={`/blog/${lastPost.slug}`}
                class="leer"
                >Leer articulo</a
              >
            </div>
          </div>
          <div class="flex md:hidden w-full justify-center items-center pb-5">
            <a
              href={`/blog/${lastPost.slug}`}
              class="leer"
              >Leer articulo</a
            >
          </div>
        </article>
      </section>

      <sectcion
        aria-label="Posts"
        class="grid lg-[80%] xl:w-[70%] grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-10"
      >
        {
          postsOrdered.map((post) => {
            const { slug, data } = post;
            const { img, title, author, description, date } = data;
            return (
              <article class="flex flex-col justify-between  items-center gap-2 h-[600px] bg-lcsPink3 bg-opacity-10 ">
                <div class="w-full min-h-[230px] h-[230px] ">
                  <img
                    class=" object-cover w-full h-full border-y-[6px] border-lcsPink1"
                    src={img}
                    alt={title}
                  />
                </div>

                <div class="flex flex-col gap-2 px-5 ">
                  <p class="text-sm text-neutral-400">{date}</p>
                  <h2 class="text-2xl">{title}</h2>
                  <p class="text-sm">{description}</p>
                  <p class="text-sm text-neutral-400">Autor: {author}</p>
                  <div class="flex items-center gap-2 flex-wrap">
                    {data.tags.map((tag) => (
                      <span class="text-sm bg-lcsPink1 text-white px-2 py-1 rounded-full">
                        {tag}
                      </span>
                    ))}
                  </div>
                </div>

                <div class="flex justify-center items-center pb-5">
                  <a
                    href={`/blog/${slug}`}
                    class="leer"
                  >
                    Leer articulo
                  </a>
                </div>
              </article>
            );
          })
        }
      </sectcion>
    </Container>
  </main>
</Layout>

<style>
  article {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  article img {
    position: relative;
    border-top-left-radius: 20px;
  }

  .leer {
    width: fit-content;
    color: #fff;
    background-color: #254542;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.2s linear;
  }
  .leer:hover {
    transform: scale(1.1);
    background-color: #ed6f5f;
  }
</style>
