---
import BentoServices from "../components/reutilizables/BentoServices.astro";
import SliderServicesPatrimoniales from "../components/reutilizables/SliderServicesPatrimoniales.astro";
import FooterServices from "../components/servicePages/FooterServices.astro";
import Hero from "../components/servicePages/hero.astro";
import Presentacion from "../components/servicePages/Presentacion.astro";
import Services from "../components/servicePages/Services.astro";
import LayoutServicios from "../layouts/LayoutServicios.astro";
import data from "../data/bentoPatrimoniales.json";
---

<LayoutServicios title="LCS - Seguros Patrimoniales">
  <main>
    <Hero
      title="Asegurarse es la nueva moda"
      subtitle="Seguros que Protegen tus Sueños"
      image="/img/img-patrimoniales.avif"
    />
    <Services>
      <BentoServices
        title1={data.title1}
        title2={data.title2}
        title3={data.title3}
        title4={data.title4}
        datacontent1={data.datacontent1}
        datacontent2={data.datacontent2}
        datacontent3={data.datacontent3}
        datacontent4={data.datacontent4}
        datacolor1={data.datacolor1}
        datacolor2={data.datacolor2}
        datacolor3={data.datacolor3}
        datacolor4={data.datacolor4}
        dataimgbackground1={data.dataimgbackground1}
        dataimgbackground2={data.dataimgbackground2}
        dataimgbackground3={data.dataimgbackground3}
        dataimgbackground4={data.dataimgbackground4}
        dataimgposition1={data.dataimgposition1}
        dataimgposition2={data.dataimgposition2}
        dataimgposition3={data.dataimgposition3}
        dataimgposition4={data.dataimgposition4}
        dataform1={data.dataform1}
        dataform2={data.dataform2}
        dataform3={data.dataform3}
        dataform4={data.dataform4}
      />
    </Services>

    <Presentacion image="/resources/cebrokers_logo.svg">
      <p class="text-[clamp(18px,2vw,30px)] font-light text-pretty">
        <span class="font-normal text-[#1a6dc0]"
          >15 años de experiencia en el mercado y más de 9.000 clientes</span
        >, que confían en nosotros. Brindamos asesoramiento personalizado y
        <span class="font-normal text-[#1a6dc0]">!aseguramos tu mundo!</span>
      </p>
    </Presentacion>

    <FooterServices />
  </main>
</LayoutServicios>
