---
const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;

type Props = {
  title1: string;
  title2: string;
  title3: string;
  title4: string;
  title5: string;
  title6: string;
  datacontent1: string;
  datacontent2: string;
  datacontent3: string;
  datacontent4: string;
  datacontent5: string;
  datacontent6: string;
  dataform1: string;
  dataform2: string;
  dataform3: string;
  dataform4: string;
  dataform5: string;
  dataform6: string;
};
const {
  title1,
  title2,
  title3,
  title4,
  title5,
  title6,
  datacontent1,
  datacontent2,
  datacontent3,
  datacontent4,
  datacontent5,
  datacontent6,

  dataform1,
  dataform2,
  dataform3,
  dataform4,
  dataform5,
  dataform6,
} = Astro.props;
---

<div class="hidden md:grid grid__container w-full xl:w-[70%] my-10">
  <div
    class="card1 card"
    data-content={datacontent1}
    data-form={dataform1}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title1}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('./img/proteccion.avif')] bg-contain bg-[right_bottom] bg-no-repeat`
    >
    </div>
    <a
      href={dataform1}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent1}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Agenda tu cita <span
          class="w-3 grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>

  <div
    class="card2 card"
    data-content={datacontent2}
    data-form={dataform2}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title2}</p>
    </div>

    <div
      class=`absolute w-full h-full bg-[url('./img/libre.avif')] bg-cover lg:bg-contain bg-right-bottom bg-no-repeat`
    >
    </div>
    <a
      href={dataform2}
      class="ver__mas"
    >
      <p
        class="text-gray-50 w-[80%] text-pretty text-left text-[clamp(14px,3vw,16px)]"
      >
        {datacontent2}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-[95%] flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Agenda tu cita <span
          class="w-3 grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>
  <div
    class="card3 card"
    data-content={datacontent5}
    data-form={dataform5}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title5}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('./img/independencia.avif')] bg-cover bg-[right_bottom]  bg-no-repeat`
    >
    </div>
    <a
      href={dataform5}
      class="ver__mas"
    >
      <p
        class="text-gray-50 w-[80%] text-pretty text-left text-[clamp(14px,3vw,16px)]"
      >
        {datacontent5}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-[95%] flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Agenda tu cita <span
          class="w-3 grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>

  <div
    class="card4 card"
    data-content={datacontent4}
    data-form={dataform4}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title4}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('./img/educativo.avif')] bg-contain bg-[right_bottom]  bg-no-repeat`
    >
    </div>
    <a
      href={dataform4}
      class="ver__mas"
    >
      <p
        class="text-gray-50 w-[80%] text-pretty text-left text-[clamp(14px,3vw,16px)]"
      >
        {datacontent4}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-[95%] flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Agenda tu cita <span
          class="w-3 grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>
  <div
    class="card5 card"
    data-content={datacontent3}
    data-form={dataform3}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title3}</p>
    </div>

    <div
      class=`absolute w-full h-full bg-[url('./img/retiro.avif')] bg-contain bg-[right_bottom] bg-no-repeat`
    >
    </div>

    <a
      href={dataform3}
      class="ver__mas"
    >
      <p
        class="text-gray-50 w-[80%] text-pretty text-left text-[clamp(14px,3vw,16px)]"
      >
        {datacontent3}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-[95%] flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Agenda tu cita <span
          class="w-3 grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>

  <div
    class="card6 card"
    data-content={datacontent6}
    data-form={dataform6}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title6}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('./img/emprendedor.avif')] bg-cover bg-[right_bottom] 2xl:bg-[right_bottom_-20px] bg-no-repeat`
    >
    </div>
    <a
      href={dataform6}
      class="ver__mas"
    >
      <p
        class="text-gray-50 w-[80%] text-pretty text-left text-[clamp(14px,3vw,16px)]"
      >
        {datacontent6}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-[95%] flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Agenda tu cita <span
          class="w-3 grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>
</div>

<style>
  .grid__container {
    position: relative;
    z-index: 20;

    grid:
      "card1 card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card2" 1fr
      "card3 card3 card3 card3 card3 card4 card4 card4 card4 card4 card4 card4" 1fr
      "card5 card5 card5 card5 card5 card5 card5 card6 card6 card6 card6 card6" 1fr
      /* "card8 card8 card8 card8 card8 card8 card8 card9 card9 card9 card9 card9" 1fr */
      / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 18px;
  }

  .grid__container:has(.card:hover) .card:not(:hover) {
    filter: grayscale(70%);
    opacity: 25%;
  }

  .card {
    z-index: 20;
    overflow: hidden;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 400px;
    max-height: 550px;

    border-radius: 20px;

    transition: all 0.3s linear;
    cursor: pointer;

    &:hover .ver__mas {
      left: 0;
    }

    &:hover .title {
      opacity: 0;
    }

    .texto {
      font-size: clamp(20px, 3.3vw, 30px);
      font-weight: 400;
      z-index: 30;
    }
  }

  .title {
    opacity: 1;
    transition: all 0.3s linear;
  }

  .ver__mas {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #000000ec;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s linear 0.1s;
  }

  .card1 {
    grid-area: card1;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #6fa29d 52%,
      #96b6b3 100%
    );
  }
  .card2 {
    grid-area: card2;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #1d1e1c 39%,
      #686868 100%
    );
  }
  .card3 {
    grid-area: card3;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #eb8284 39%,
      #e8abac 100%
    );
  }
  .card4 {
    grid-area: card4;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #18403e 39%,
      #349792 100%
    );
  }
  .card5 {
    grid-area: card5;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #ed6f5f 39%,
      #f6ada3 100%
    );
  }
  .card6 {
    grid-area: card6;

    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #6fa29d 52%,
      #96b6b3 100%
    );
  }

  .card7 {
    grid-area: card7;

    background-color: #1a191a;
  }
  .card8 {
    grid-area: card8;
    background-color: #393737;
  }
  .card9 {
    grid-area: card9;
    background-color: #e8abac;
  }
</style>
