---
const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;

type Props = {
  title1: string;
  title2: string;
  title3: string;

  datacontent1: string;
  datacontent2: string;
  datacontent3: string;

  dataform1: string;
  dataform2: string;
  dataform3: string;
};
const {
  title1,
  title2,
  title3,

  datacontent1,
  datacontent2,
  datacontent3,

  dataform1,
  dataform2,
  dataform3,
} = Astro.props;
---

<div
  class="flex flex-col lg:grid grid__container w-full xl:w-[70%] my-10"
  data-aos="fade-up"
  data-aos-duration="800"
  data-aos-once="true"
>
  <div class="card1 card">
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title1}</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/vacaciones.avif')] opacity-80 bg-cover bg-[right_50%_bottom] md:bg-[center_bottom] bg-no-repeat"
    >
    </div>
    <a
      href={dataform1}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent1}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Cotizá <span
          class="w-[clamp(16px,3vw,20px)] grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>

  <div class="card2 card">
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title2}</p>
    </div>

    <div
      class=`absolute w-full h-full bg-[url('/img/enviaje.avif')] opacity-80 bg-cover bg-[right_50%_bottom] md:bg-[center_bottom_-100px] lg:bg-[right_50%_bottom] bg-no-repeat`
    >
    </div>
    <a
      href={dataform2}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent3}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Cotizá <span
          class="w-[clamp(16px,3vw,20px)] grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>

  <div class="card3 card">
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title3}</p>
    </div>

    <div
      class=`absolute w-full h-full bg-[url('/img/w&t2.avif')] opacity-80  bg-cover bg-[right_15%_bottom] md:bg-[right_bottom] bg-no-repeat`
    >
    </div>

    <a
      href={dataform3}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent3}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Cotizá <span
          class="w-[clamp(16px,3vw,20px)] grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>

  <!--   <div
    class="card4 card"
    data-content={datacontent4}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title4}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('/img/hogar.avif')] opacity-80 bg-cover bg-[right_30%_top] md:bg-contain md:bg-[right_bottom]  bg-no-repeat`
    >
    </div>
    <a
      href={dataform4}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent4}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Cotizá <span
          class="w-[clamp(16px,3vw,20px)] grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>
  <div
    class="card5 card"
    data-content={datacontent5}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title5}</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/urbano.avif')] opacity-80 bg-cover md:bg-contain lg:bg-cover md:bg-[right_bottom] bg-[right_20%_bottom] bg-no-repeat"
    >
    </div>
    <a
      href={dataform5}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent5}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Cotizá <span
          class="w-[clamp(16px,3vw,20px)] grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>
  <div
    class="card6 card"
    data-content={datacontent6}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title6}</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/celular.avif')] opacity-80 bg-cover md:bg-contain lg:bg-cover bg-[right_20%_bottom] md:bg-[right_bottom] bg-no-repeat"
    >
    </div>
    <a
      href={dataform6}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent6}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Cotizá <span
          class="w-[clamp(16px,3vw,20px)] grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>
  <div
    class="card7 card"
    data-content={datacontent7}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title7}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('/img/asistencia.avif')] opacity-80 bg-cover bg-[right_40%_bottom] md:bg-[right_40%_bottom_-70px] lg:bg-[right_40%_bottom]  bg-no-repeat`
    >
    </div>
    <a
      href={dataform7}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent7}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Cotizá <span
          class="w-[clamp(16px,3vw,20px)] grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>

  <div
    class="card8 card"
    data-content={datacontent8}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title8}</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/comercio.avif')] opacity-80 bg-contain bg-[right_bottom] md:bg-[right_bottom_-10px] bg-no-repeat"
    >
    </div>
    <a
      href={dataform8}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent8}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Cotizá <span
          class="w-[clamp(16px,3vw,20px)] grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div>

  <div
    class="card9 card"
    data-content={datacontent9}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title9}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('/img/consorcio.avif')] opacity-80 bg-cover bg-center md:bg-[right_bottom_-100px] lg:bg-center 2xl:bg-[right_-40px_bottom_-20px] bg-no-repeat`
    >
    </div>
    <a
      href={dataform9}
      class="ver__mas"
    >
      <p class="text-gray-50 text-pretty text-left text-[clamp(14px,3vw,16px)]">
        {datacontent9}
      </p>
      <p
        class="text-gray-50 text-[clamp(16px,3vw,20px)] text-right w-full flex justify-end gap-2 items-center hover:text-lcsPink3 transition-all duration-300 group"
      >
        Cotizá <span
          class="w-[clamp(16px,3vw,20px)] grid place-items-center fill-white stroke-white group-hover:fill-lcsPink3 group-hover:stroke-lcsPink3 transition-all duration-300"
        >
          <svg
            xmlns="
          http:
          www.w3.org
          2000
          svg"
            viewBox="0 0 512 512"
          >
            <path
              class="cls-1"
              d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
            ></path></svg
          ></span
        >
      </p>
    </a>
  </div> -->
</div>

<style>
  .grid__container {
    position: relative;
    z-index: 20;

    grid:
      "card1 card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card2" 1fr
      "card3 card3 card3 card3 card3 card3 card3 card3 card3 card3 card3 card3" 1fr
      /*  "card5 card5 card5 card5 card6 card6 card6 card6 card7 card7 card7 card7" 1fr
      "card8 card8 card8 card8 card8 card8 card8 card9 card9 card9 card9 card9" 1fr */
      / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 18px;
  }

  .grid__container:has(.card:hover) .card:not(:hover) {
    filter: grayscale(70%);
    opacity: 25%;
  }

  .card {
    z-index: 20;
    overflow: hidden;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 400px;
    max-height: 550px;

    border-radius: 20px;

    transition: all 0.3s linear;
    cursor: pointer;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #6fa29d 52%,
      #96b6b3 100%
    );

    &:hover .ver__mas {
      left: 0;
    }

    &:hover .title {
      opacity: 0;
    }

    .texto {
      font-size: 30px;
      margin-top: 8px;
      font-weight: 400;
      z-index: 30;
      filter: drop-shadow(5px 5px 6px #000000);
    }
  }

  .title {
    opacity: 1;
    transition: all 0.3s linear;
  }

  .ver__mas {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #000000ec;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s linear 0.1s;
  }

  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  /* .card4 {
    grid-area: card4;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #18403e 39%,
      #349792 100%
    );
  }
  .card5 {
    grid-area: card5;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #1d1e1c 39%,
      #686868 100%
    );
  }
  .card6 {
    grid-area: card6;

    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #6fa29d 52%,
      #96b6b3 100%
    );
  }
  .card7 {
    grid-area: card7;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #ed6f5f 39%,
      #f6ada3 100%
    );
  }
  .card8 {
    grid-area: card8;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #eb8284 39%,
      #e8abac 100%
    );
  }
  .card9 {
    grid-area: card9;
    background-image: linear-gradient(
      135deg,
      #000000 0%,
      #18403e 39%,
      #349792 100%
    );
  } */

  dialog {
    scale: 0;
    opacity: 0;
    transition:
      scale 0.3s linear,
      display 0.4s linear allow-discrete,
      opacity 0.4s linear;
  }

  dialog[open] {
    opacity: 1;
    scale: 1;

    transition:
      scale 0.3s linear,
      opacity 0.4s linear;

    @starting-style {
      scale: 0;
      opacity: 0;
    }
  }

  dialog::backdrop {
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.26);
  }

  .div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: clamp(50px, 10vw, 70px);
    width: clamp(150px, 50vw, 300px);
    background-image: linear-gradient(
      135deg,
      #3e5351 30%,
      rgb(66, 182, 170) 100%
    );
    transition: all 0.2s linear;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }

  .sub__container {
    position: relative;
  }
  .sub {
    position: absolute;
    top: clamp(30px, 3.5vw, 50px);
    bottom: 0;
    right: 0;
    left: 0%;
    width: 100%;
    height: 40px;
  }
</style>

<!-- <script>
  document.addEventListener("astro:page-load", () => {
    const btnDialog = document.querySelectorAll("div");
    const btnModalContact = document.querySelectorAll("#open-modal-contacto");
    const dialog = document.getElementById("modal-info") as HTMLDialogElement;
    const close = document.getElementById("close");
    const closeContact = document.querySelectorAll("#close-contact");

    const modalContent = document.getElementById("modal-info-content");
    const modalImg = document.getElementById(
      "modal-info-img"
    ) as HTMLImageElement;

    btnDialog.forEach((btn) => {
      btn.addEventListener("click", () => {
        const bgColor = btn.getAttribute("data-color");
        const data = btn.getAttribute("data-content");

        const img = btn.getAttribute("data-img-background");

        const position = btn.getAttribute("data-img-position");
        const form = btn.getAttribute("data-form");
        dialog.style.backgroundImage = bgColor;
        modalContent.innerHTML = data;
        modalImg.src = img;
        modalImg.style.objectPosition = position;
        dialog.setAttribute("data-form", form);

        btnModalContact.forEach((btn) => {
          btn.setAttribute("href", form);
        });
        dialog.showModal();
      });
    });

    btnModalContact.forEach((btn) => {
      btn.addEventListener("click", () => {
        dialog.close();
        const activeElement = document.activeElement;
        if (activeElement instanceof HTMLElement) {
          activeElement.blur();
        }
      });
    });

    close.addEventListener("click", () => {
      dialog.close();
      const activeElement = document.activeElement;
      if (activeElement instanceof HTMLElement) {
        activeElement.blur();
      }
    });
  });
</script> -->
