---
import ButtonBentoCard from "./ButtonBentoCard.astro";
import DataBulletBentoCard from "./DataBulletBentoCard.astro";

const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;

type Props = {
  title1: string;
  title2: string;
  title3: string;
  title4: string;
  title5: string;
  title6: string;
  datacontent1: string;
  datacontent2: string;
  datacontent3: string;
  datacontent4: string;
  datacontent5: string;
  datacontent6: string;
  databullet1?: Array<string>;
  databullet2?: Array<string>;
  databullet3?: Array<string>;
  databullet4?: Array<string>;
  databullet5?: Array<string>;
  databullet6?: Array<string>;
  dataform1: string;
  dataform2: string;
  dataform3: string;
  dataform4: string;
  dataform5: string;
  dataform6: string;
};
const {
  title1,
  title2,
  title3,
  title4,
  title5,
  title6,
  datacontent1,
  datacontent2,
  datacontent3,
  datacontent4,
  datacontent5,
  datacontent6,
  databullet1,
  databullet2,
  databullet3,
  databullet4,
  databullet5,
  databullet6,
  dataform1,
  dataform2,
  dataform3,
  dataform4,
  dataform5,
  dataform6,
} = Astro.props;
---

<div
  class="flex flex-col lg:grid grid__container w-full xl:w-[70%] my-10"
  data-aos="fade-up"
  data-aos-duration="800"
  data-aos-once="true"
>
  <div class="card1 card">
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title1}</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/proteccion2.avif')] opacity-80 bg-cover bg-[right_-90px_bottom] md:bg-[right_bottom] lg:bg-[right_-40px_bottom] bg-no-repeat"
    >
    </div>
    <a
      href={dataform1}
      class="ver__mas"
      title={datacontent1}
    >
      <p class="detail">
        {datacontent1}
        {
          databullet1
            ? databullet1.map((item) => <DataBulletBentoCard text={item} />)
            : ""
        }
      </p>
      <ButtonBentoCard text="Agenda tu cita" />
    </a>
  </div>

  <div class="card2 card">
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title2}</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/libre2.avif')] opacity-80 bg-cover bg-[right_-90px_bottom] md:bg-[right_bottom] bg-no-repeat"
    >
    </div>
    <a
      href={dataform2}
      class="ver__mas"
      title={datacontent2}
    >
      <p class="detail">
        {datacontent2}
        {
          databullet2
            ? databullet2.map((item) => <DataBulletBentoCard text={item} />)
            : ""
        }
      </p>
      <ButtonBentoCard text="Agenda tu cita" />
    </a>
  </div>
  <div class="card3 card">
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title5}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('/img/independencia2.avif')] opacity-80 bg-cover bg-[center_bottom]  lg:bg-[center_bottom] bg-no-repeat`
    >
    </div>
    <a
      href={dataform5}
      class="ver__mas"
      title={datacontent5}
    >
      <p class="detail">
        {datacontent5}
        {
          databullet5
            ? databullet5.map((item) => <DataBulletBentoCard text={item} />)
            : ""
        }
      </p>
      <ButtonBentoCard text="Agenda tu cita" />
    </a>
  </div>

  <div
    class="card4 card"
    data-content={datacontent4}
    data-form={dataform4}
    data-bullet={databullet4}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title4}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('/img/educativo2.avif')] opacity-80 bg-cover bg-[right_-150px_bottom] md:bg-[center_bottom] lg:bg-[right_-40px_bottom] bg-no-repeat`
    >
    </div>
    <a
      href={dataform4}
      class="ver__mas"
      title={datacontent4}
    >
      <p class="detail">
        {datacontent4}
        {
          databullet4
            ? databullet4.map((item) => <DataBulletBentoCard text={item} />)
            : ""
        }
      </p>
      <ButtonBentoCard text="Agenda tu cita" />
    </a>
  </div>
  <div
    class="card5 card"
    data-content={datacontent3}
    data-form={dataform3}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title3}</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/retiro2.avif')] opacity-80 bg-cover bg-[right_30%_center] md:bg-[right_center] bg-no-repeat"
    >
    </div>

    <a
      href={dataform3}
      class="ver__mas"
      title={datacontent3}
    >
      <p class="detail">
        {datacontent3}
        {
          databullet3
            ? databullet3.map((item) => <DataBulletBentoCard text={item} />)
            : ""
        }
      </p>
      <ButtonBentoCard text="Agenda tu cita" />
    </a>
  </div>

  <div
    class="card6 card"
    data-content={datacontent6}
    data-form={dataform6}
  >
    <div class="w-full h-full flex ml-4 title">
      <p class="text-gray-50 texto font-light">{title6}</p>
    </div>

    <div
      class=`absolute  w-full h-full bg-[url('/img/emprendedor2.avif')] opacity-80 bg-cover bg-[right_-150px_bottom] md:bg-[right_bottom] lg:bg-[right_-120px_bottom] bg-no-repeat`
    >
    </div>
    <a
      href={dataform6}
      class="ver__mas"
      title={datacontent6}
    >
      <p class="detail">
        {datacontent6}
        {
          databullet6
            ? databullet6.map((item) => <DataBulletBentoCard text={item} />)
            : ""
        }
        <ButtonBentoCard text="Agenda tu cita" />
      </p>
    </a>
  </div>

  <style>
    .grid__container {
      position: relative;
      z-index: 20;

      grid:
        "card1 card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card2" 1fr
        "card3 card3 card3 card3 card3 card4 card4 card4 card4 card4 card4 card4" 1fr
        "card5 card5 card5 card5 card5 card5 card5 card6 card6 card6 card6 card6" 1fr
        / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 18px;
    }

    .grid__container:has(.card:hover) .card:not(:hover) {
      filter: grayscale(70%);
      opacity: 25%;
    }

    .card {
      z-index: 20;
      overflow: hidden;
      display: flex;
      position: relative;
      width: 100%;
      min-height: 400px;
      max-height: 550px;

      border-radius: 20px;

      transition: all 0.3s linear;
      cursor: pointer;
      background-image: linear-gradient(
        135deg,
        #000000 0%,
        #6fa29d 52%,
        #96b6b3 100%
      );

      &:hover .ver__mas {
        left: 0;
      }

      &:hover .title {
        opacity: 0;
      }

      .texto {
        font-size: 30px;
        margin-top: 8px;
        font-weight: 400;
        z-index: 30;
        filter: drop-shadow(5px 5px 6px #000000);
      }
    }

    .title {
      opacity: 1;

      transition: all 0.3s linear;
    }

    .ver__mas {
      position: absolute;
      bottom: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      padding: 2rem;
      background-color: #181818f1;

      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      transition: all 0.3s linear 0.1s;
    }

    .span__arrow {
      width: 16px;
      max-width: 16px;
      min-width: 16px;
      display: grid;
      place-items: center;
      fill: white;
      stroke: white;
    }

    .card1 {
      grid-area: card1;
    }
    .card2 {
      grid-area: card2;
    }
    .card3 {
      grid-area: card3;
    }
    .card4 {
      grid-area: card4;
    }
    .card5 {
      grid-area: card5;
    }
    .card6 {
      grid-area: card6;
    }

    .detail {
      color: #f9fafb;
      font-size: clamp(16px, 3vw, 18px);
      text-wrap: pretty;
      text-align: left;
      font-weight: 600;
    }
  </style>
</div>
