---
import { ClientRouter } from "astro:transitions";
import redes from "../data/redes.json";

import NavBarFormularios from "../components/secciones/NavBarFormularios.astro";

interface Props {
  path: string;
  title: string;
  keywords?: string;
  description?: string;
}

const { title, keywords, description, path } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content={keywords ? `${keywords}` : ""}
    />

    <meta
      name="description"
      content={description ? `${description}` : ""}
    />

    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/resources/ISO-BLANCO.svg"
    />
    <link
      rel="apple-touch-icon"
      href="/resources/ISO-BLANCO.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Darker+Grotesque:wght@300..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <ClientRouter />

    <!-- Meta Pixel Code -->
    <script>
      // @ts-ignore
      !(function (f, b, e, v, n, t, s) {
        // @ts-ignore
        if (f.fbq) return;
        // @ts-ignore
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        // @ts-ignore
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      // @ts-ignore
      fbq("init", "647751594290477");
      // @ts-ignore
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=647751594290477&ev=PageView&noscript=1"
        title="img pixel facebook"
      /></noscript
    >
    <!-- End Meta Pixel Code -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-Z3S5K1WZQX"
    ></script>
    <script>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag("js", new Date());
      // @ts-ignore
      gtag("config", "G-Z3S5K1WZQX");
    </script>
  </head>
  <body class="back-forms">
    <div class="absolute w-full h-full opacity-[0.03] z-[1]">
      <img
        class="object-cover w-full h-full"
        src="/resources/amo-asegurar.svg"
        alt=""
      />
    </div>

    <NavBarFormularios path={path} />
    <slot />
    <footer
      id="footerServices"
      class=""
    >
      <!-- <div class="absolute w-full h-full"></div> -->
      <div
        class="w-[70%] h-full flex flex-col md:flex-row justify-center md:justify-between items-center gap-y-5 py-6 relative z-20"
      >
        <a
          class="img__container justify-center md:justify-start w-full md:w-[40%] lg:w-[20%]"
          href="/"
          title="Logo La chica del seguro - volver a la página principal"
        >
          <img
            class="w-full"
            src="/resources/LOGOTIPO-CREMA.svg"
            alt=""
          />
        </a>
        <div
          class="flex flex-col justify-center items-center md:items-end gap-6 md:gap-0 w-full relative"
        >
          <div class="flex flex-col justify-center items-center gap-[6px]">
            <div class="flex justify-center items-center gap-4">
              {
                redes.map((item) => (
                  <div class="border-2 border-zinc-50 size-[40px] rounded-full flex justify-center items-center hover:scale-[1.1] transition-all duration-200 ease-linear group">
                    <a
                      href={item.href}
                      target={item.target}
                      title={item.label}
                    >
                      <img
                        src={item.img}
                        alt={item.label}
                        class="size-[40px] p-2 group-hover:scale-[1.1] transition-all duration-200 ease-linear"
                        style="filter: invert(100%) "
                        height="auto"
                        width="auto"
                        title={item.label}
                      />
                    </a>
                  </div>
                ))
              }
            </div>
            <div class="flex flex-col gap-0 text-xs text-gray-50 text-center">
              <p>Copyright © 2024 La Chica del Seguro</p>
              <p>Reservados todos los derechos</p>
            </div>
          </div>
        </div>
      </div>

      <p class="text-center text-xs font-thin z-50 text-gray-300">
        Desarrollado por
        <a
          class="cursor-pointer font-medium relative z-30"
          aria-label="Link al Github de JM-Dev"
          href="https://github.com/JM-Dev-ARG"
          target="_blank"
        >
          JM-DEV
        </a>
        / <a
          class="cursor-pointer font-medium relative z-30"
          href="https://agenciapanambi.com/"
          target="_blank"
          >Agencia Panambi</a
        >
      </p>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-color: #ed705f96 #90a59c75;

    .darker-grotesque-<uniquifier > {
      font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }

    .cormorant-garamond-light {
      font-family: "Cormorant Garamond", serif;
      font-weight: 300;
      font-style: normal;
    }

    .cormorant-garamond-regular {
      font-family: "Cormorant Garamond", serif;
      font-weight: 400;
      font-style: normal;
    }

    .cormorant-garamond-medium {
      font-family: "Cormorant Garamond", serif;
      font-weight: 500;
      font-style: normal;
    }

    .cormorant-garamond-semibold {
      font-family: "Cormorant Garamond", serif;
      font-weight: 600;
      font-style: normal;
    }

    .cormorant-garamond-bold {
      font-family: "Cormorant Garamond", serif;
      font-weight: 700;
      font-style: normal;
    }
    .poppins-thin {
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      font-style: normal;
    }

    .poppins-extralight {
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;
    }

    .poppins-light {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .poppins-regular {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .poppins-medium {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    .poppins-semibold {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
    }

    .poppins-bold {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .poppins-extrabold {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
    }

    .poppins-black {
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-style: normal;
    }
  }

  html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .back-forms {
    background-color: #202221;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  footer {
    position: relative;
    z-index: 30;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img__container {
    display: flex;

    align-items: center;
    height: 60%;
    z-index: 10;

    & img {
      mask-image: linear-gradient(#202022 60%, transparent 100%);
      -webkit-mask-image: linear-gradient(#222020 60%, transparent 100%);
    }
  }
</style>
