---
import { ClientRouter } from "astro:transitions";
import NavBarServicios from "../components/secciones/NavBarServicios.astro";
import FooterServices from "../components/servicePages/FooterServices.astro";

interface Props {
  title: string;
  keywords?: string;
  description?: string;
  url?: string;
}

const { title, keywords, description, url } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content={keywords ? `${keywords}` : ""}
    />

    <meta
      name="description"
      content={description ? `${description}` : ""}
    />
    <link
      rel="canonical"
      href=`https://lachicadelseguro.com/${url}`
    />
    <meta
      name="robots"
      content="index, follow"
    />

    <meta
      name="viewport"
      content="width=device-width"
    />

    <meta
      name="author"
      content="Ice-Dev para Panambi"
    />

    <link
      rel="icon"
      type="image/svg+xml"
      href="/resources/ISO-BLANCO.svg"
    />
    <link
      rel="apple-touch-icon"
      href="/resources/ISO-BLANCO.svg"
    />

    <meta
      name="generator"
      content={Astro.generator}
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Darker+Grotesque:wght@300..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <ClientRouter />

    <!-- Meta Pixel Code -->
    <script>
      // @ts-ignore
      !(function (f, b, e, v, n, t, s) {
        // @ts-ignore
        if (f.fbq) return;
        // @ts-ignore
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        // @ts-ignore
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      // @ts-ignore
      fbq("init", "647751594290477");
      // @ts-ignore
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=647751594290477&ev=PageView&noscript=1"
        title="img pixel facebook"
      /></noscript
    >
    <!-- End Meta Pixel Code -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-Z3S5K1WZQX"
    ></script>
    <script>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag("js", new Date());
      // @ts-ignore
      gtag("config", "G-Z3S5K1WZQX");
    </script>
  </head>
  <body>
    <NavBarServicios />
    <slot />
    <FooterServices />
  </body>
</html>
<style is:global>
  :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #ed705f96 #90a59c75;

    .darker-grotesque-<uniquifier > {
      font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }

    .cormorant-garamond-light {
      font-family: "Cormorant Garamond", serif;
      font-weight: 300;
      font-style: normal;
    }

    .cormorant-garamond-regular {
      font-family: "Cormorant Garamond", serif;
      font-weight: 400;
      font-style: normal;
    }

    .cormorant-garamond-medium {
      font-family: "Cormorant Garamond", serif;
      font-weight: 500;
      font-style: normal;
    }

    .cormorant-garamond-semibold {
      font-family: "Cormorant Garamond", serif;
      font-weight: 600;
      font-style: normal;
    }

    .cormorant-garamond-bold {
      font-family: "Cormorant Garamond", serif;
      font-weight: 700;
      font-style: normal;
    }
    .poppins-thin {
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      font-style: normal;
    }

    .poppins-extralight {
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;
    }

    .poppins-light {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .poppins-regular {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .poppins-medium {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    .poppins-semibold {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
    }

    .poppins-bold {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .poppins-extrabold {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
    }

    .poppins-black {
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-style: normal;
    }
  }

  html {
    background-color: #fff5eb;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
